name: Feature Pipeline

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"  # runs daily at midnight UTC

jobs:
  feature-pipeline:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Upgrade pip
        run: pip install --upgrade pip

      - name: Install dependencies
        run: |
          pip install pandas numpy scikit-learn mlflow dagshub tensorflow hopsworks==4.2.* "hsfs>=3.7.9,<4.0"


      - name: Run feature pipeline
        run: python -u pipelines/feature_pipeline.py
